<div class="product-form">
    <form>
        <div class="form-group">
            <label>Nom de Patient</label>
            <input  name="patient" [(ngModel)]="patient.nom" type="text"  class="form-control"
                 />
            <div  class="invalid-feedback">
                <div >Name is required</div>
            </div>
          <br>  <label>Nom de Parent</label>
        </div>
        <div class="input-group mb-1">
           
            <select  class="form-control" >
               
                <label>Nom de Parent</label>
                <option selected>choisis le Parent</option>
                <option *ngFor="let p of parents" >{{p.nom}}</option>
              </select>
    </div>
    
<br>
        <div class="input-group mb-3">
            <span class="input-group-text">Date De Naissance</span>
          <input name="naissance" [(ngModel)]="patient.dateNaissance" type="date" aria-label="Date De Naissance" class="form-control">
        </div>



    </form>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="addPatientController()">Ajouter</button>
        
    </div>
</div>