<div class="product-form">
    <form>
        <div class="form-group">
            <label>Nom de Parent</label>
            <input [(ngModel)]="lparent.nom" type="text"  class="form-control"
                 />
            <div  class="invalid-feedback">
                <div >Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input [(ngModel)]="lparent.email" type="text"  class="form-control"
                 />
            <div  class="invalid-feedback">
                <div >Description is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Numéro de Téléphone</label>
            <input [(ngModel)]="lparent.phone" type="text"  class="form-control"
                 />
            <div  class="invalid-feedback">
                <div >Téléphone is required</div>
            </div>
        </div>



    </form>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="addParentController()">Ajouter</button>
        <button type="button"  class="btn btn-warning float-right">
            Reset
        </button>
    </div>
</div>